#header{
    background: #d43b33;
    height: 74px;
}
#header img{
    width: 118px;
    height: 74px;
}
#header li{
    float: left;
    line-height: 74px;
    margin: 0 22px;
}
#header ul{
    margin-left: 190px;
}
#header li a{
    color:#fff;
    font-size: 14px;
}
#banner{
    height: 280px;
    background: url(../img/banner.png) no-repeat;
}
#aboutus{
    text-align: center;
    width: 850px;
    margin: 0 auto;
}
#aboutus .title{
    height: 78px;
    border-bottom: 2px solid #cbcbcb;
    margin-bottom: 36px;
}
#aboutus .title .innerbox{
    width: 200px;
    padding-top: 50px;
    font-size: 24px;
    color: #7a7a7a;
    background: #fff;
    margin: 0 auto;
}
#aboutus .title h3{
    color:#d43b33;
    font-size: 18px;
}
#aboutus  p{
    line-height: 24px;
    font-size: 14px;
    color:#686868;
}
#aboutus .more{
    width: 106px;
    height: 38px;
    background: url(../img/more_more_bg.png);
    margin: 0 auto;
    margin-top:32px;
    margin-bottom: 44px;
}
#aboutus .more a{
    color: #464646;
    line-height: 38px;
}
#feature{
    color: #464646;
}
#feature ul{
    width: 360px;
    height: 33px;
    margin: 0 auto;
    line-height: 33px;
    text-align: center;
}
#feature ul li{
    float: left;
    width: 105px;
    background: #626262;
    margin-right: 10px;
}
#feature ul li.culture{
    background: #fff;
    border: 1px solid #626262;
    border-bottom:0;
}
#feature ul li.culture a{
    color:#b61717;
}
#feature ul li a{
    color: #fff;
}
#feature .content{
    border-top: 1px solid #626262;
    padding: 40px 0 30px 110px;
}
#feature .content img{
    width: 340px;
    height: 185px;
}
#feature .content .right{
    margin-left: 30px;
}
#feature .content .right p,#feature .content .right h4{
    line-height: 22px;
}
#product{
    height: 250px;
    padding: 30px 0 60px;
    background: url(../img/index_02.png) no-repeat;
}
#product .title{
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
#product .title h3{
    color: #7a7a7a;
    font-size: 24px;
}
#product .title p{
    font-size: 18px;
    color: #d43b33;
    margin-bottom: 44px;
}
#product .zhanshi .innerbox{
    margin-right: 4px;
}
#product .zhanshi .left,#product .zhanshi .right{
    width: 20px;
    height: 148px;
}
#product .zhanshi .left{
    background: url(../img/btnleft.png) no-repeat left center;
    margin-right: 10px;
}
#product .zhanshi .right{
    background: url(../img/btnleft.png) no-repeat right center;
    margin-left: 8px;
}
#product .innerbox img{
    width: 310px;
    height: 150px;
}
#news{
    padding: 25px 0 50px 0;
}
#news .hot{
    width: 460px;
    margin:0 20px 0 20px;
}
#news .hot ul li{
    border-bottom: 1px dashed #cacaca;
    height: 19px;
    padding-top: 16px;
}
#news .hot ul li a{
    color: #000;
}
#news .hot ul .more{
    border-bottom: 0;
    font-size: 20px;
    height: 22px;
    padding-top: 13px;
}
#news .information{
    width: 500px;
}
#news .information h2{
    margin-bottom: 18px;
}
#news .information form input{
    width: 231px;
    height: 38px;
    float: left;
    border: 1px solid #4c4c4c;
    outline: none;
    font-size: 14px;
    color: #7d7d7d;
    margin-right: 5px;
    padding-left: 12px;
    margin-bottom: 10px;
}
#news .information .yanzengma{
    width: 78px;
}
#news .information textarea{
    width: 493px;
    height: 176px;
    outline: none;
    border: 1px solid #4c4c4c;
    padding: 10px 0 0 5px;
}
#news .information .email{
    color: #7d7d7d;
    line-height: 28px;
    margin-top: 10px;
}
#news .information .email span{
    color: #841c1c;
}
#news .information .email input{
    float: right;
    width: 130px;
    height: 28px;
    background: #d43b33;
    color: #fff;
    font-size: 14px;
    border: 0;
    outline: none;
}
#footer{
    background: #2c2c2c;
    padding: 50px 0 120px 0;
}
#footer img{
    width: 136px;
    height: 90px;
    display: block;
    float: left;
    margin-right: 90px;
}
#footer .content{
    color: #fff;
}
#footer .content h3{
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: normal;
}
#footer .content p{
    line-height: 24px;
    margin-bottom: 46px;
}
#footer .content span{
    color: #979797;
}


    